#is2mainContainer {
  margin: 5rem 2rem 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: Roboto;
}

#is2Heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#is2Conatainer {
  margin: 0rem 8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  box-sizing: content-box;
  word-wrap: break-word;
  gap: 50px;
  margin-bottom: 20px;
}

.is2Div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
}
.is2Div img {
  height: 15rem;
  width: 15rem;
  object-fit: contain;
  border-radius: 10px;
  width: 64px;
  height: 64px;
}
.is2Div .is2DivHeading {
  font-size: 27px;
  color: #2e82cb;
}
.is2Div .is2Divtxt {
  font-size: 17px;
  word-wrap: break-word;
}

#is2SignUp {
  width: 100%;
  background-color: #8bba3b;
  margin: 5rem 0rem;
  font-size: 30px;
  text-align: center;
  padding: 30px 0px;
  color: white;
}/*# sourceMappingURL=InfoSlide2.module.css.map */