#nbMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4.55rem;
  position: sticky;
  top: 0rem;
  z-index: 10;
  background-color: #ffffff;
}/*# sourceMappingURL=Navbar.module.css.map */