#ptcMain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0rem 2rem;
  word-wrap: break-word;
  font-style: Roboto;
  text-align: start;
}

#ptc1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 800;
}

#ptc2 {
  color: #464646;
  font-weight: 500;
}/*# sourceMappingURL=PercentTextContainer.module.css.map */