#is1mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 2rem 8rem;
  background-color: #2e82cb;
  color: #fff;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
  font-family: Roboto;
}

.islHeader {
  font-size: 48px;
}

.isldata {
  font-size: 22px;
  margin-bottom: 2rem;
}
