#lsMainContainer {
  background-color: #f4f4f4;

  box-sizing: content-box;
  padding: 0rem 4.55rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  overflow: hidden;

  margin: 6rem 0rem;
}

#lsLogoSliderContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
  margin: 0rem 4.55rem;
  gap: 3rem;

  img {
    height: auto;
    width: 10rem;
    object-fit: contain;
  }
}

#lsButton {
  margin: 3rem;
  box-sizing: content-box;
  border-radius: 23px;
  height: 3rem;
  width: 15rem;
  background-color: #2e82cb;
  border: none;

  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 400;
  color: #ffffff;

  &:hover{
    background-color: #464646;
  }
}
