#nrMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  list-style: none;

  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  color: #525975;
}

.dowpdown {
  border: solid #525975;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
