#soMainContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;

  #soText {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    font-family: Roboto;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: left;

    word-wrap: break-word;

    color: #464646;

    h2 {
      font-size: 4rem;

      margin-bottom: 2rem;

      span {
        color: #2e82cb;
      }
    }

    #soTextFinalContainer {
      display: "flex";
      justify-content: "space-around";
      align-items: "center";
      flex-direction: row;
      width: "100%";
    }
  }
}

#soTextFinalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

  hr {
    width: 5rem;
    transform: rotate(90deg);
  }

  p{
    font-size: 1.2rem;
  }

}
